html { height: 100% }
body { height: 100%; margin: 0; padding: 0; }
#map-canvas { width: 100%; height: 100%; }

nav {
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: block;
	margin: auto;
	overflow: hidden;
	text-align: center; 
	background-color: rgb( 40, 44, 47 );
}

nav a {
	text-decoration: none;
	color: rgb( 255, 255, 255 );
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s; 
}
	
nav > ul > li > a {
	display: block;
	line-height: 56px;
	padding: 0 24px;
}

nav > ul > li > div {
	background-color: rgb( 40, 44, 47 );
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	visibility: hidden;


	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

nav > ul > li > div ul > li {
	display: inline-block;
}

nav > ul > li > div ul > li > a {
	display: block;
	padding: 10px 10px;
}

nav > ul > li > a > .caret {
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	transition: color 0.1s linear; 
}

nav ul li:hover {
	background-color: rgba( 255, 255, 255, 0.1);
}

nav > ul > li:hover > a > .caret {
  border-top-color: rgb( 255, 255, 255 );
}

nav > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
	z-index:1000;
}

.line {
	display:inline-block;
    margin: 0px;
    border-radius: 60px;    
    color: white;
    font-style: bold;
    font-size: 1em;
    padding: 3px 8px;    
}

.line_1 {
	fill: rgb(242,201,49);
	stroke: rgb(242,201,49);
	background-color: rgb(242,201,49);
}

.line_2 {
	fill: rgb(33,110,180);
	stroke: rgb(33,110,180);
	background-color: rgb(33,110,180);
}
.line_3 {
	fill: rgb(154,153,64);
	stroke: rgb(154,153,64);
	background-color: rgb(154,153,64);
}

.line_3b {
	fill: rgb(137,199,214);
	stroke: rgb(137,199,214);
	background-color: rgb(137,199,214);
}

.line_4 {
	fill: rgb(187,77,152);
	stroke: rgb(187,77,152);
	background-color: rgb(187,77,152);
}

.line_5 {
	fill: rgb(222,139,83);
	stroke: rgb(222,139,83);
	background-color: rgb(222,139,83);
}

.line_6 {
	fill: rgb(121,187,146);
	stroke: rgb(121,187,146);
	background-color: rgb(121,187,146);
}

.line_7 {
	fill: rgb(223,154,177);
	stroke: rgb(223,154,177);
	background-color: rgb(223,154,177);
}

.line_7b {
	fill: rgb(121,187,146);
	stroke: rgb(121,187,146);
	background-color: rgb(121,187,146);
}

.line_8 {
	fill: rgb(197,163,202);
	stroke: rgb(197,163,202);
	background-color: rgb(197,163,202);
}

.line_9 {
	fill: rgb(205,200,63);
	stroke: rgb(205,200,63);
	background-color: rgb(205,200,63);
}

.line_10 {
	fill: rgb(223,176,57);
	stroke: rgb(223,176,57);
	background-color: rgb(223,176,57);
}

.line_11 {
	fill: rgb(142,101,56);
	stroke: rgb(142,101,56);
	background-color: rgb(142,101,56);
}

.line_12 {
	fill: rgb(50,142,91);
	stroke: rgb(50,142,91);
	background-color: rgb(50,142,91);
}

.line_13 {
	fill: rgb(137,199,214);
	stroke: rgb(137,199,214);
	background-color: rgb(137,199,214);
}

.line_14 {
	fill: rgb(103,50,142);
	stroke: rgb(103,50,142);
	background-color: rgb(103,50,142);
}